@import "tailwindcss";

@theme {
  --color-black: #33322E;
  --color-grey: #878787;
  --color-aqua-dark: #8CD4CB;
  --color-peach-dark: #F6A89E;
  --color-yellow-dark: #F4D799;
  --color-yellow-light: #F9F3E5;
  --color-peach-light: #FFF0EE;
  --color-aqua-light: #D0F4F0;
}


:root {
  min-height: 100vh;
  min-width: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  display: flex;
  align-items: center;
}
